@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header-container{
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

.stats-container{
  width: 210px;
  border-radius: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.paste-container{
  width: 60px;
  height: 60px;
  background-color: var(--shade-1);

  border-radius: 6px;
}

.paste-container:hover{
  background-color: rgba(255, 255, 255, 0.13);
  transition: background-color 0.2s;
}

.wpm-container{
  /* font-family: 'Roboto', sans-serif;
  font-weight: 600; */
  font-size: 15px;
  /* background-color: gray; */
  width: 70px;
  display: inline-block;
}

.accuracy-container{
  /* font-family: 'Roboto', sans-serif;
  font-weight: 600; */
  font-size: 14px;
  /* background-color: gray; */
  width: 100px;
  display: inline-block;
}

.wpm{
  background-color: var(--shade-1);
  margin-top: -20px;
  margin-left: 18px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  

  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  
}

.accuracy{
  background-color: var(--shade-1);
  margin-top: -20px;
  margin-left: 58px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;

  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
}