.stats-container{
    width: 250px;
    height: 65px;
    border-radius: 6px;
    background-color: var(--shade-1);

    margin-bottom: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.accuracy{
}